.navbarWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
    display: flex;
    align-items: center;
}
.navbarWrapper .nav {
    margin-left: auto;
    font-size: 16px;
    padding: 20px 0;
    max-width: calc(100% - 210px);
    gap: 30px;
}
.orderContainer{
    padding-top: 150px;
    min-height: 100vh;
    float: left;
    position: relative;
    width: 100%;
}
.orderHeader{
    display: flex;
    gap: 35px;
}
.headerLeft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.headerLeft h2{
    font-size: 32px;
    font-weight: 800;
}
.headerLeft span{
    color: lightslategray;
    font-size: 14px;
}
.checkoutMenu a{
    font-size: 18px;
    color: lightslategray;
    text-decoration: none;
}
.checkoutMenu:hover a{
    color: #99c579;
}
.headerRight{
    margin-top: 5px;
}
.activeOrder{
    border: 1px solid #bddca9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.activeOrderTitle{
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 800;
}
.orderItem{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bddca9;
    padding-bottom: 15px;
}
.orderimg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.orderimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.orderItem h6{
    font-weight: 700;
}
.orderPrice{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    color: lightslategray;
}
.orderSummary{
    background-color: #bddca9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.summaryTop{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0003;
    gap: 10px;
    padding-bottom: 10px;
}
.summarydetails{
    display: flex;
    justify-content: space-between;
}
.summarydetailsBottom{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.prevOrders{
    padding: 100px 0 30px;
}
.prevOrderTitle{
    margin-bottom: 15px;
    font-size: 26px;
    color: #678551;
    font-weight: 800;
}
.prevOrders table{
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}
.footerWrapper{
    width: 100%;
    bottom: 0;
    float: left;
}